*.DS_Store
*.o
*.cache
*.log
libtool
*~
Makefile
*.deps/*.*o
*/*.deps/*.*o
*.libs/*
*/*.libs/*
cob-config
confdefs.h
config.h
conftest*
*.status
defaults.h
*.lo
stamp-h*
*.la
open-cobol-1.1/*
tmpwrk*/*
